.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: $bg;

  &__container{
    @include lg{
      padding-left: 0;
    };
  }

  &__top {
    box-shadow: -1px 12px 29px 3px rgba(0, 0, 0, 0.31);
    .container{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: 126px;
      @include md{
        height: 100px;
      };
      @include sm{
        height: 58px;
      };
    }
  }

  &__logo {
    display: none;
    @include lg{
      display: block;
      margin-right: 20px;
    };
    @include xs{
      margin-right: 0;
    };
  }

  &__search {
    width: calc(65% - 140px);
    margin-right: 20px;
    @include xlg{
      width: calc(50% - 140px);
    };
    @include lg{
      display: none;
    };
  }

  &__phone {
    margin-left: auto;
    margin-right: 20px;
    @include lg{
      margin-left: initial;
    };
    @include md{
      display: none;
    };
  }

  &__button {
    @include xs{
      display: none;
    };
  }

  &__mobile-button {
    display: none;
    @include lg{
      display: block;
      margin-left: auto;
    };
  }
}

.aside {
  width: 377px;
  min-height: 100%;
  position: absolute;
  z-index: 20;

  top: 0;
  left: 0;
  box-shadow: -1px 19px 41px 5px rgba(0, 0, 0, 0.14);
  background-color: $bg;
  @include lg{
    left: initial;
    right: -500px;
    width: 320px;
    transition: .3s;
    min-height: 100vh;
  };
  &.active{
    right: 0;
  }

  &__close{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    @include lg{
      display: block;
    };

    &-svg {
      width: 26px;
      height: 26px;
    }
  }

  &__logo {
    @include lg{
      display: none;
    };
  }

  &__bottom {
    padding: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 126px);
    //position: relative;
    @include lg{
      min-height: 100vh;
      padding: 40px;
      height: 100vh;
      overflow-y: auto;
    };
    @include xs{
      padding: 30px 20px;
    };
  }

  &__nav {
    margin-bottom: 80px;
    @include lg{
      margin-bottom: 30px;
    };
  }

  &__download {
    font-weight: bold;
    text-decoration: underline;
    color: $blue;
    margin-bottom: 80px;
    display: block;
    transition: .3s;
    @include lg{
      margin-top: auto;
      margin-bottom: 20px;
    };
    &:hover{
      color: $text;
      text-decoration: none;
    }
  }

  &__socials {
    margin-bottom: 20px;
    @include xs{
      margin-bottom: 0;
    };
  }

  &__reg {
    margin-top: auto;
    color: $grey2;
    font-size: 12px;
    @include lg{
      margin-top: initial;
    };
    @include xs{
      display: none;
    };
  }
}

.logo {
  box-shadow: 0 4px 9px 1px rgba(0, 0, 0, 0.47);
  background-color: $blue;
  padding: 0 15px;
  height: 126px;
  display: flex;
  align-items: center;
  @include md{
    height: 100px;
  };
  @include sm{
    width: 252px;
    height: 58px;
    padding: 10px 25px;
  };
}

.nav {

  &__item {
    @include lg{
      margin-bottom: 20px;
    };

    &:hover {
      .nav__item-link{
        color: $blue;
      }
      .nav__item-subnav{
        display: block;
        @include lg{
          display: none;
        };
      }
    }

    &.active {
      .nav__item-link {
        color: $blue;
      }
    }

    &-link {
      font-size: 20px;
      transition: .3s;
      padding-top: 25px;
      padding-bottom: 25px;
      display: block;
      @include lg{
        padding: 0;
        margin-bottom: 15px;
      };
      @include xs{
        font-size: 16px;
      };
    }

    &-subnav {
      position: absolute;
      left: 100%;
      top: 126px;
      display: none;
      width: 308px;
      height: 100%;
      background-color: rgba($white3,.8);
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 100%;
        width: 90px;
        height: 100%;
      }
      @include lg{
        position: static;
        left: initial;
        top: initial;
        height: auto;
        width: auto;
        background: none;
      };
    }
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 33px;
    height: 33px;
    border: 2px solid $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border: 2px solid $yellow;
      .socials__item-svg{
        fill: $yellow;
      }
    }

    &-svg {
      width: 20px;
      height: 20px;
      fill: $blue;
      transition: .3s;
    }
  }
}

.search {
  position: relative;

  &__input {
    border-radius: 4px;
    border: 1px solid $light-grey;
    padding: 12px 20px;
    padding-right: 35px;
    width: 100%;
  }

  &__submit {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    transition: .3s;

    &:hover {
      opacity: .7;
    }
  }

}

.phone {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 10px;
  }

  &__title {
    color: $black;
    font-weight: bold;
    font-size: 20px;
  }
}

.subnav {
  padding-top: 67.5px;
  padding-bottom: 30px;
  padding-right: 30px;
  @include lg{
    padding: 0;
    padding-left: 25px;
  };

  &__item {
    display: block;
    color: $black;
    font-size: 18px;
    font-weight: 400;
    line-height: lh(18,20);
    //margin-bottom: 45px;
    padding-left: 73px;
    position: relative;
    transition: .3s;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    @include lg{
      padding: 0;
      padding-left: 10px;
      margin-bottom: 15px;
      color: #777777;
      &:last-child{
        margin-bottom: 0;
      }
    };
    @include xs{
      font-size: 14px;
    };

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 30.5px;
      height: 2px;
      width: 67px;
      background-color: $white;
      transition: .3s;
      @include lg{
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top: 8px;
      };
    }

    //&:last-child{
    //  margin-bottom: 0;
    //}

   &.active,&:hover{
     color: $blue;
     &:before {
       background-color: $blue;
     }
   }



  }
}

.mobile-button {
  &__svg {
    width: 40px;
    height: 30px;
  }
}