.index {

  &__footer {
    display: none;
    @include xs{
      display: block;
    };
  }
}

.banner {
  height: 100vh;
  background-size: cover;
  color: $bg;
  padding-top: 126px;
  padding-bottom: 80px;
  @include lg{
    height: auto;
  };
  @include md{
    padding-top: 100px;
  };
  @include sm{
    padding-top: 58px;
  };
  @include xs{
    background-position: center center;
    padding-bottom: 40px;
  };

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 200px;
    @include xlg{
      padding-top: 150px;
    };
    @include lg{
      padding-top: 40px;
    };
    @include xs{
      align-items: center;
    };

  }

  &__row {
    margin-left: 0;
    margin-right: 0;
  }

  &__title {
    font-size: 60px;
    margin-bottom: 30px;
    @include xlg{
      margin-bottom: 20px;
      font-size: 48px;
    };
    @include md{
      font-size: 36px;
    };
    @include sm{
      font-size: 30px;
    };
  }

  &__sub {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 90px;
    @include xlg{
      margin-bottom: 40px;
      font-size: 24px;
    };
    @include md{
      font-size: 18px;
    };
    @include sm{
      font-size: 16px;
    };
  }

  &__link {
    margin-bottom: 15px;
    @include md{
      margin-bottom: 30px;
    };
  }

  &__list {
    margin-top: auto;
  }

  &__item {
    flex-basis: 290px;
    margin-bottom: 30px;
    @include lg{
      flex-basis: 220px;
    };
    @include md{
      flex-basis: 170px;
    };

    @include xs{
      flex-basis: initial;
      width: 50%;
    };

    &-num {
      color: $yellow;
      font-size: 30px;
      margin-bottom: 10px;
      @include md{
        font-size: 24px;
      };
    }

    &-title {
      font-size: 16px;
      line-height: lh(16,20);
      @include md{
        font-size: 14px;
      };
      @include xs{
        font-size: 12px;
      };
    }
  }
}

.mcat {
  padding: 130px 0;
  background-color: $white2;
  @include md{
    padding: 40px 0;
  };
  @include xs{
    padding-bottom: 0;
  };

  &__title {
    margin-bottom: 80px;
    @include md{
      margin-bottom: 30px;
    };
  }

  &__row {
    @include lg{
      justify-content: center;
    };
    @include xs{
      margin-left: -20px;
      margin-right: -20px;
    };
  }

  &__item {
    flex-basis: 360px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 45px;
    position: relative;
    border: 3px solid transparent;
    transition: .3s;
    @include lg{
      flex-basis: 340px;
    };
    @include xs{
      margin-left: 0;
      margin-right: 0;
      border: none;
      margin-bottom: 0;
    };

    &:hover {
      border: 3px solid $yellow2;
      box-shadow: -1px 12px 29px 3px rgba(0, 0, 0, 0.31);

      &:before {
        opacity: 0;
      }

      .mcat__item {

        &-title{
          color: $black;
        }
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: .7;
      background-image: linear-gradient(to top, #3380ce 0%, #3380ce 1%, #6a7988 100%);
      transition: .3s;
    }

    &-title {
      color: $bg;
      font-size: 20px;
      font-weight: 600;
      line-height: lh(20,35);
      text-transform: uppercase;
      position: absolute;
      z-index: 20;
      bottom: 45px;
      left: 30px;
    }

  }
}

.mnews{
  padding: 120px 0 160px 0;
  @include md{
    padding: 40px 0;
  };

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    width: 100%;
    margin-bottom: 60px;
    @include md{
      margin-bottom: 30px;
    };
  }

  &__left {
    flex-basis: 360px;
    margin-right: 125px;
    @include lg{
      margin-right: 30px;
      flex-basis: auto;
      width: calc(35% - 30px);
    };
    @include sm{
      width: 100%;
      margin-right: 0;
    };
  }

  &__right {
    flex-basis: 555px;
    @include lg{
      flex-basis: auto;
      width: 65%;
    };
    @include sm{
      width: 100%;
    };
    @include xs{
      display: none;
    };
  }

  &__main {
    margin-bottom: 60px;
    @include xs{
      margin-bottom: 30px;
    };
    &-img {
      margin-bottom: 35px;
      @include xs{
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 20px;
      };
    }
    &-pic {
      display: block;
    }

    &-content {
      margin-bottom: 50px;
      @include xs{
        margin-bottom: 20px;
      };
    }

    &-date {
      color: $grey;
    }
  }

  &__row {
    border-top: 2px solid $light-grey2;
    padding: 60px 0;
  }

  &__item {
    margin-right: 15px;
    margin-left: 15px;
    width: calc(100%/2 - 30px);

    &-link {
      color: $blue2;
      line-height: lh(16,24);
      text-decoration: underline;
      margin-bottom: 50px;
      display: block;
      transition: .3s;
      &:hover{
        color: $text;
        text-decoration: none;
      }
    }
    &-date {
      color: $grey;
    }
  }


  &__link {
    width: 100%;
    color: $blue3;
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 110px;
    @include md{
      margin-top: 50px;
    };
    @include xs{
      margin-top: 0;
      text-align: center;
    };

  }
}

.ifooter {
  padding-bottom: 30px;
  &__top {
    border-top: 1px solid $light-grey2;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
  }

  &__phone{
    margin-bottom: 20px;
  }

  &__socials{
    margin-bottom: 15px;
  }
  &__reg {
    color: $grey2;
    font-size: 12px;
  }
}