-
    var nav = [
        {
            title: 'О компании',
            href: '/',
            dopClass: 'active',
            list: [
                {
                    title: 'История компании',
                    href: '/'
                },
                {
                    title: 'Новости',
                    href: '/'
                },
                {
                    title: 'Карьера',
                    href: '/'
                },
                {
                    title: 'Акции',
                    href: '/'
                },

            ]
        },
        {
            title: 'Продукция',
            href: '/',
            list: [
                {
                    title: 'Вентиляторы крышные',
                    href: '/'
                },
                {
                    title: 'Вентиляторы осевые',
                    href: '/',
                    dopClass: 'active'
                },
                {
                    title: 'Вентиляторы радиальные',
                    href: '/'
                },
                {
                    title: 'Гермолюки, Гермодвери',
                    href: '/'
                },
                {
                    title: 'Доп оборудование',
                    href: '/'
                },
                {
                    title: 'Заслонки воздушные',
                    href: '/'
                },
                {
                    title: 'Воздуховоды',
                    href: '/'
                },
                {
                    title: 'Сантехническое оборудование',
                    href: '/'
                },
                {
                    title: 'Узлы прохода',
                    href: '/'
                }
            ]
        },
        {
            title: 'Решения',
            href: '/',
        },
        {
            title: 'Услуги',
            href: '/',
        },
        {
            title: 'Проектировщикам',
            href: '/',
        },
        {
            title: 'Контакты',
            href: '/',
        }
    ];
-
    var mcat = [
        'Вентиляторы <br> крышные',
        'Вентиляторы <br> осевые',
        'Вентиляторы <br> радиальные',
        'гермодвери <br> гермолюки',
        'доп <br> оборудование',
        'заслонки <br> воздушные',
        'воздуховоды',
        'сантехническое <br> оборудование',
        'узлы <br> прохода',
        'приточные <br> камеры'
    ];