-
    var nav = [
        {
            title: 'О компании',
            href: '/',
            dopClass: 'active'
        },
        {
            title: 'Продукция',
            href: '/',
        },
        {
            title: 'Решения',
            href: '/',
        },
        {
            title: 'Услуги',
            href: '/',
        },
        {
            title: 'Проектировщикам',
            href: '/',
        },
        {
            title: 'Контакты',
            href: '/',
        }
    ];